<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">

    <style>
       /* Navigation */
      .navigation {
        position: absolute;
        width: 100%;
        height: 100px;
        padding: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
      }
       
      .navigation-left {
        margin-left: -33px;
      }
       
      .navigation-left a {
        text-decoration: none;
        text-transform: uppercase;
        color: #333745;
        font-size: 12px;
        font-weight: bold;
        width: 107px;
        height: 30px;
        border: 2px solid transparent;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        transition: all .2s;
      }
       
      .navigation-left a:hover,
      .navigation-left a:focus {
        border-color: rgb(234, 46, 73);
        background-color: rgba(44, 45, 47, 0);
      }
       
      .navigation-center {
        margin-right: 85px;
      }
       
      .navigation-right {
        display: flex;
        align-items: center;
      }
       
      .login-btn {
        background-color: #b8b8b9;
        width: 97px;
        height: 30px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        border-radius: 15px;
        border: none;
        color: #333745;
        text-transform: uppercase;
        margin-left: 20px;
        transition: all .2s;
        cursor: pointer;
      }
      .login-btn:hover {
        transform: scale(1.06);
      }

      .css-slider-wrapper {
        display: block;
        background: #FFF;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    </style> 
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" style="background-color: white; border-color:white">
      <div class="navigation">
        <div class="navigation-left">
          <a href="/contactus">Contact Us</a>
          <a href="/donate">Donate</a>
          <a href="/aboutus">About Us</a>
          <a href="/people">People</a>
          <a href="/">Home</a>
        </div>
        <div class="navigation-center">
          <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
        </div>
        <div class="navigation-right">
          <button class="login-btn" role="button"><a href="/signin" style="color: black"> Login</a></button>
        </div>
      </div>
    </nav>
    <center><div class="container">
      <strong><h3> Donation Amount </h3></strong>

      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> $25
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> $50
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> $100
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> $250
      </label>

      <strong><h3> Personal Information </h3></strong>
        <div class="form-group" style= "width: 376px;">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First Name">
        </div>
        <div class="form-group" style= "width: 376px;">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
        </div>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Address">
        </div>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="City">
        </div>
        <p></p>
        <select class="form-control" style="width: 376px;">
          <option value="United States">United States</option>
          <option value="Canada">Canada</option>
          <option value="Mexico">Mexico</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="Cuba">Cuba</option>
        </select>              
        <p></p>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="State">
        </div>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Zip Code" maxlength="5">
        </div>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
        </div>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone Number">
        </div>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Credit Card Number" maxlength="16">
        </div>
        Card Expiration:
        <select name='expireMM' id='expireMM'>
            <option value=''>Month</option>
            <option value='01'>January</option>
            <option value='02'>February</option>
            <option value='03'>March</option>
            <option value='04'>April</option>
            <option value='05'>May</option>
            <option value='06'>June</option>
            <option value='07'>July</option>
            <option value='08'>August</option>
            <option value='09'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
        </select> 
        <select name='expireYY' id='expireYY'>
            <option value=''>Year</option>
            <option value='17'>2017</option>
            <option value='18'>2018</option>
            <option value='19'>2019</option>
        </select> 
        <p></p>
        <div class="form-group" style= "width: 376px;">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="CVV" maxlength="3">
        </div>
        <a class="btn btn-default" href="/returntohome" role="button">Donate Now!</a>
    </div></center>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>