<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">


    <style>
       /* Navigation */
      .navigation {
        position: absolute;
        width: 100%;
        height: 100px;
        padding: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
      }
       
      .navigation-right {
        margin-left: -33px;
      }
       
      .navigation-right a {
        text-decoration: none;
        text-transform: uppercase;
        color: #333745;
        font-size: 12px;
        font-weight: bold;
        width: 107px;
        height: 30px;
        border: 2px solid transparent;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        transition: all .2s;
      }
       
      .navigation-right a:hover,
      .navigation-right a:focus {
        border-color: rgb(234, 46, 73);
        background-color: rgba(44, 45, 47, 0);
      }
       
      .navigation-left {
        margin-right: 85px;
      }

      .css-slider-wrapper {
        display: block;
        background: #FFF;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      .navigation-center {
        display: flex;
        margin-left: 534px;
      }
    </style>  


  </head>
  <body>
    <nav class="navbar navbar-default" style="background-color: white; border-color:white">
    <div class="navigation">
      <div class="navigation-right">
        <a href="/postevents">Post Events</a>
        <a href="/charityhome">Home</a>
        <a href="#">Messages&nbsp;<span class="badge">3</span></a>
        <a href="#">Profile</a>
      </div>
      <div class="navigation-left">
        <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
      </div>
    </div>
  </nav>

	<div class="jumbotron" style="background-color: white;">
		<div class="container">
	      <strong><h3> Post an Event </h3></strong>
	      <br>
	        <div class="form-group" style= "width: 376px;">
	            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Event Name">
	        </div>
	        <div class="form-group" style= "width: 376px;">
	          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Address">
	        </div>
	        <div class="form-group" style= "width: 376px;">
	          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="City">
	        </div>
	        <div class="form-group" style= "width: 376px;">
	          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="State">
	        </div>
	        <div class="form-group" style= "width: 376px;">
	          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Zip Code" maxlength="5">
	        </div>
	        <div class="form-group" style= "width: 376px;">
	          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
	        </div>
	        <div class="form-group" style= "width: 376px;">
	          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Phone Number">
	        </div>
	        <strong> Date of Event <strong><br>
	        <p> </p>
	        <div class="row">
	          <div class="col-xs-1">
	            <select class="form-control input-sm">
	              <option>DD</option>
	              <option value="1">1</option>
	              <option value="2">2</option>
	              <option value="3">3</option>
	              <option value="4">4</option>
	              <option value="5">5</option>
	              <option value="6">6</option>
	              <option value="7">7</option>
	              <option value="8">8</option>
	              <option value="9">9</option>
	              <option value="10">10</option>
	              <option value="11">11</option>
	              <option value="12">12</option>
	              <option value="13">13</option>
	              <option value="14">14</option>
	              <option value="15">15</option>
	              <option value="16">16</option>
	              <option value="17">17</option>
	              <option value="18">18</option>
	              <option value="19">19</option>
	              <option value="20">20</option>
	              <option value="21">21</option>
	              <option value="22">22</option>
	              <option value="23">23</option>
	              <option value="24">24</option>
	              <option value="25">25</option>
	              <option value="26">26</option>
	              <option value="27">27</option>
	              <option value="28">28</option>
	              <option value="29">29</option>
	              <option value="30">30</option>
	              <option value="31">31</option>
	            </select>
	          </div>
	          <div class="col-xs-2">
	            <select class="form-control input-sm">
	              <option>MM</option>
	              <option value="January">January</option>
	              <option value="Febuary">Febuary</option>
	              <option value="March">March</option>
	              <option value="April">April</option>
	              <option value="May">May</option>
	              <option value="June">June</option>
	              <option value="July">July</option>
	              <option value="August">August</option>
	              <option value="September">September</option>
	              <option value="October">October</option>
	              <option value="November">November</option>
	              <option value="December">December</option>
	            </select>
	          </div>
	          <div class="col-xs-1">
	            <select class="form-control input-sm">
	              <option>YYYY</option>
	              <option value='2017'>2017</option>
	              <option value='2018'>2018</option>
	            </select>
	          </div>
	        </div><br>
	        <strong>Skills Required</strong>
	        <textarea class="form-control" rows="3" style="width: 376px"></textarea>
	        <p></p>
	   		<label class="radio-inline">
		      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Lunch served
		    </label>
		    <label class="radio-inline">
		       <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No Lunch served
		    </label><br>
		    <p></p>
	        <a class="btn btn-default" href="/charityhome" role="button">Post Event</a>
	    </div>
	</div>
		
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>