<!doctype html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">

    <style>
       /* Navigation */
      .navigation {
        position: absolute;
        width: 100%;
        height: 100px;
        padding: 0 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
      }
       
      .navigation-left {
        margin-left: -33px;
      }
       
      .navigation-left a {
        text-decoration: none;
        text-transform: uppercase;
        color: #333745;
        font-size: 12px;
        font-weight: bold;
        width: 107px;
        height: 30px;
        border: 2px solid transparent;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        transition: all .2s;
      }
       
      .navigation-left a:hover,
      .navigation-left a:focus {
        border-color: rgb(234, 46, 73);
        background-color: rgba(44, 45, 47, 0);
      }
       
      .navigation-center {
        margin-right: 85px;
      }
       
      .navigation-right {
        display: flex;
        align-items: center;
      }
       
      .login-btn {
        background-color: #b8b8b9;
        width: 97px;
        height: 30px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        border-radius: 15px;
        border: none;
        color: #333745;
        text-transform: uppercase;
        margin-left: 20px;
        transition: all .2s;
        cursor: pointer;
      }
      .login-btn:hover {
        transform: scale(1.06);
      }

      .css-slider-wrapper {
        display: block;
        background: #FFF;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    </style>  
    
  </head>
  <body>
    <nav class="navbar navbar-default" style="background-color: white; border-color:white">
    <div class="navigation">
      <div class="navigation-left">
        <a href="/contactus">Contact Us</a>
        <a href="/donate">Donate</a>
        <a href="/aboutus">About Us</a>
        <a href="/people">People</a>
        <a href="/signup">Sign Up</a>
        <a href="/">Home</a>
      </div>
      <div class="navigation-center">
        <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
      </div>
      <div class="navigation-right">
        <button class="login-btn" role="button"><a href="/signin" style="color: black"> Login</a></button>
      </div>
    </div>
  </nav>
    <div class="container">
      <h1>Sign Up Here</h1><br>

      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-default active" href="/signup" role="button">Student</a>
        <a class="btn btn-default" href="/signupcharity" role="button">Charity</a>
        <a class="btn btn-default" href="/signupschool" role="button">School</a>
      </div>
      <p></p>

      <form class="form-inline">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="First Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputPassword3" placeholder="Last Name">
        </div>
      </form>
      <p> </p>
      <form>
        <strong> Select your country </strong>
        <p> </p>
        <select class="form-control" style="width: 152px;">
          <option value="United States">United States</option>
          <option value="Canada">Canada</option>
          <option value="Mexico">Mexico</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="Cuba">Cuba</option>
        </select><br>
        <div class="form-group" style= "width: 376px;">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <strong> Date of Birth <strong><br>
        <p> </p>
        <div class="row">
          <div class="col-xs-1">
            <select class="form-control input-sm">
              <option>DD</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="col-xs-2">
            <select class="form-control input-sm">
              <option>MM</option>
              <option value="January">January</option>
              <option value="Febuary">Febuary</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
          <div class="col-xs-1">
            <select class="form-control input-sm">
              <option>YYYY</option>
              <option value='1992'>1992</option>
              <option value='1993'>1993</option>
              <option value='1994'>1994</option>
              <option value='1995'>1995</option>
              <option value='1996'>1996</option>
              <option value='1997'>1997</option>
              <option value='1998'>1998</option>
              <option value='1999'>1999</option>
              <option value='2000'>2000</option>
              <option value='2001'>2001</option>
              <option value='2002'>2002</option>
              <option value='2003'>2003</option>
              <option value='2004'>2004</option>
              <option value='2005'>2005</option>
              <option value='2006'>2006</option>
            </select>
          </div>
        </div><br>
        <div class="form-group" style= "width: 376px;">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group" style= "width: 376px;">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
        </div>
        <strong> Gender </strong><br>
        <form action="/action_page.php" class="form-inline">
          <input type="radio" name="gender" value="male" checked> Male<br>
          <input type="radio" name="gender" value="female"> Female<br><br>
        </form>
        <a class="btn btn-default" href="/studenthome" role="button">Submit</a>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>