<!doctype html>
<html>
  <head>
    <title>CommunityLinks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="#">
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    // creating 3D Pie Chart
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  
  	</head>

    <style>
       /* Navigation */
      
       
     
       
      .navigation-right a {
        text-decoration: none;
        text-transform: uppercase;
        color: #333745;
        font-size: 12px;
        font-weight: bold;
        width: 107px;
        height: 30px;
        border: 2px solid transparent;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        transition: all .2s;
      }
       
      .navigation-right a:hover,
      .navigation-right a:focus {
        border-color: rgb(234, 46, 73);
        background-color: rgba(44, 45, 47, 0);
      }
       
      .navigation-left {
        margin-right: 85px;
      }

      .css-slider-wrapper {
        display: block;
        background: #FFF;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    </style>  

  </head>
  <body>
  	<nav class="navbar navbar-default" style="background-color: white; border-color:white">
    <div class="navigation">
      <div class="navigation-right">
        <a href="/student_profile">Profile</a>
        <a href="/calendar">Calendar</a>
        <a href="#">Messages&nbsp;<span class="badge">3</span></a>
        <a href="/charity">Charities</a>
        <a href="#">Directories</a>
        <a href="#">Home</a>
        <div class="btn-group">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Groups <span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
				<li><a href="#">Collegiate</a></li>
			    <li><a href="#">Trinity</a></li>
			    <li><a href="#">Poly Prep</a></li>
			</ul>
		</div>
      </div>
      <div class="navigation-left">
        <a class="navbar-brand" href="/" style="color: orange">CommunityLinks</a>
      </div>
    </div>
  </nav>
	<div class="jumbotron" style="background-color: white;">
		<div class="row">
			<div class="col-md-6" >
    		<div id="piechart_3d" style="width: 650px; height: 400px;"></div>
				<p></p>
				<a class="btn btn-primary btn-lg" href="/charity" role="button">Find a Charity</a>
			</div>

			<div class="col-md-6" >
				<p></p>
				<p>Attendance Summary</p>
				<div class="col-md-3">
					<p>Absences</p>
					<h4>2</h4>
				</div>
				<div class="col-md-4">
					<p>Hours Completed</p>
					<h4>24</h4>
				</div>
				<div class="col-md-3">
					<p>Hours Left</p>
					<h4>5</h4>
				</div>
			</div>

			<div class="col-md-6" >
				<p></p>
				<p>Recent Past Events</p>
				<table class="table table-striped">
				  <thead>
				  	<tr>
				  		<th>Date</th>
				  		<th>Event</th>
				  		<th>Location</th>
				  		<th>Hours Completed</th>
				  		<th>Contact</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<th>2/17/17</th>
				  		<th>Soup Kitchen</th>
				  		<th>Brooklyn</th>
				  		<th>2</th>
				  		<th>soupkitchen@gmail.com</th>
				  	</tr>
				  	<tr>
				  		<th>2/24/17</th>
				  		<th>Park Cleanup</th>
				  		<th>Central Park</th>
				  		<th>4</th>
				  		<th>park@gmail.com</th>
				  	</tr>
				  	<tr>
				  		<th>3/4/17</th>
				  		<th>Tutoring</th>
				  		<th>Collegiate School</th>
				  		<th>1</th>
				  		<th>collegiateschool@gmail.com</th>
				  	</tr>
				  	<tr>
				  		<th>3/14/17</th>
				  		<th>Soup Kitchen</th>
				  		<th>Manhattan</th>
				  		<th>3</th>
				  		<th>soupkitchen1@gmail.com</th>
				  	</tr>
				  </tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6" >
				<p></p>
				<p>Upcoming Events</p>
				<table class="table table-striped">
				  <thead>
				  	<tr>
				  		<th>Date</th>
				  		<th>Event</th>
				  		<th>Location</th>
				  		<th>Directions</th>
				  		<th>Hours</th>
				  		<th>Contact</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<th>4/20/17</th>
				  		<th>Bake Sale</th>
				  		<th>Manhattan</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>1:00 PM - 4:00 PM</th>
				  		<th>bakesale@gmail.com</th>
				  	</tr>
				  	<tr>
				  		<th>4/27/17</th>
				  		<th>Gardening</th>
				  		<th>80th and Park</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>11:00 AM - 1:00 PM</th>
				  		<th>gardening@gmail.com</th>
				  	</tr>
				  	<tr>
				  		<th>5/1/17</th>
				  		<th>Babysitting</th>
				  		<th>19th and Broadway</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>7:00 PM - 11:00 PM</th>
				  		<th>babysitting@gmail.com</th>
				  	</tr>
				  	<tr>
				  		<th>5/6/17</th>
				  		<th>Soup Kitchen</th>
				  		<th>Brooklyn</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>3:00 PM - 6:00 PM</th>
				  		<th>soupkitchen3@gmail.com</th>
				  	</tr>
				  </tbody>
				</table>
			</div>

			<div class="col-md-6">
				<p></p>
				<p>Suggested Events</p>
				<table class="table table-striped">
				  <thead>
				  	<tr>
				  		<th>Date</th>
				  		<th>Event</th>
				  		<th>Location</th>
				  		<th>Directions</th>
				  		<th>Hours</th>
				  		<th>Contact</th>
				  		<th>Apply</th>
				  	</tr>
				  </thead>
				  <tbody>
				  	<tr>
				  		<th>4/20/17</th>
				  		<th>Bake Sale</th>
				  		<th>Manhattan</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>3:30 PM - 6:30 PM</th>
				  		<th>bakesale@gmail.com</th>
				  		<th><a href="#">Apply</a></th>
				  	</tr>
				  	<tr>
				  		<th>4/27/17</th>
				  		<th>Gardening</th>
				  		<th>80th and Park</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>2:00 PM - 4:00 PM</th>
				  		<th>gardening@gmail.com</th>
				  		<th><a href="#">Apply</a></th>
				  	</tr>
				  	<tr>
				  		<th>5/1/17</th>
				  		<th>Babysitting</th>
				  		<th>19th and Broadway</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>6:00 PM - 10:00 PM</th>
				  		<th>babysitting@gmail.com</th>
				  		<th><a href="#">Apply</a></th>
				  	</tr>
				  	<tr>
				  		<th>5/6/17</th>
				  		<th>Soup Kitchen</th>
				  		<th>Brooklyn</th>
				  		<th><a href="/directions">Direction</a></th>
				  		<th>9:00 AM - 12:30 PM</th>
				  		<th>soupkitchen3@gmail.com</th>
				  		<th><a href="#">Apply</a></th>
				  	</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>